// flex
@mixin flex {
    display: flex;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// list
@mixin list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

// media queries
@mixin media-sm {
    @media only screen and (min-width: 576px) {
        @content;
    }
}

@mixin media-md {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin media-xl {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}