.site-footer {
    flex-grow: 1;
    padding: 56px 0;
    background-color: var(--grayish-dark-blue);

    &__container {
        @include flex-column;

        .nav {
            @include flex-column;
            margin-bottom: 40px;

            &-link {
                display: block;
                margin-bottom: 40px;

                svg {
                    color: #fff;
                }
                svg:hover {
                    color: var(--cyan);
                }
            }
            
            &-list {
                @include list-unstyled;
                @include flex-column;
            }
            &-item {
                &:not(:last-child) {
                    margin-bottom: 32px;
                    margin-right: 0;
                }
            }
            &-item:hover {
                padding: 5px;
                background-color: #777;
                border-radius: 5px;
            }
            &-item__link {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.site-footer__socials {
    @include flex;
    @include list-unstyled;

    &-item:not(:last-child) {
        margin-right: 16px;
    }

    &-link {
        svg {
            color: #fff;
            transition: var(--trs-dur);
        }
        svg:hover {
            color: var(--cyan);
        }
    }
}