/* HEADER */
.header {
    margin: {
        top: 32px;
        bottom: 40px;
    }
    .nav {
        &-icon {
            display: block;
            width: 60px;
            height: 32px;
            color: var(--grayish-dark-blue);
            
            &:hover {
                color: var(--cyan);
            }
            &:hover {
                opacity: 0.7;
            }
            
            svg {
                transition: var(--trs-dur);
            }  
        }

        &-list {
            transition: 0.5s cubic-bezier(.77,0,.18,1);
        }
        
        &-menu {
            display: block;
            cursor: pointer;
            
            svg {
                transition: var(--trs-dur);
            }
            svg:hover {
                transform: scale(1.2);
            }
        }
        @include media-md {
            &-menu {
                display: none;
            }
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &-item:not(:last-child) {
                margin-right: 42px;
            }
            &-item  a {
                color: var(--grayish-dark-blue);
                
                &:hover {
                    color: var(--cyan);
                }
                &:active {
                    opacity: 0.5;
                }
            }
        }
    }
    
    &--open {
        .nav-list {
            position: absolute;
            @include flex-column;
            width: 70vw;
            height: 100vh;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #7e7e7e;
            padding: 50px;
            z-index: 1;


            li {
                padding: 7px;

                &:hover {
                    background-color: rgb(225, 177, 87);
                    border-radius: 10px;
                }
                &:active {
                    opacity: 0.7;
                }

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                }
            a {
                color:#fff;
                font-size: 1rem;
            }
        }
        
    }
}
