/* Sitenav */
.nav {
    @include flex;
    justify-content: space-between;
    
    &-list {
        display: none;
        @include list-unstyled;
    }
    
    &-item {
        transition: var(--trs-dur);

        a {
            letter-spacing: 0.17em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: normal;
            text-decoration: none;
            transition: var(--trs-dur);
        }
    }
}