*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    line-height: 1.87;
    background-color: #fff;
    color: var(--grayish-dark-blue);
}