:root {
    /* fonts */
    --text-font: "Public Sans", "Arial", sans-serif;
    --ibarra-font: "Ibarra Real Nova", "Arial", sans-serif;
    --karla-font: "Karla", "Arial", sans-serif;

    /* colors */
    --cyan: #5fb4a2;
    --cyan--50: rgba(95, 180, 162, 0.5);
    --dark-blue: #203a4c;
    --grayish-dark-blue: #33323d;
    --very-light-grey: #fafafa;
    --light-grey: #eaeaeb;
    --red-error: #f43030;
    
    /* paddings */
    --container-padding: 40px;
}
  
    